var/cache/*
var/session/*

media/catalog/product/cache/1/small_image/210x/602f0fa2c1f0d1ba5e241f914e856ff9/p/r/product12_1_2.jpg

media/catalog/product/cache/1/small_image/600x/17f82f742ffe127f42dca9de82fb58b1/p/r/product12_1_2.jpg
